body{
    background-color: #e5ecd0;
}
.center_T{
    text-align: center;
}

h1{
    text-align: center;

}
table {
    width: 1000px;
    margin: 0 auto;
    color: black;
    background: linear-gradient(to right, #F6EFD2, #CEAD78);

}
.T{
    width: 900px;
    margin: 0 auto;

}

thead{
    font-weight: bolder;
}

.dis {
    pointer-events: none;
  }

footer {
    position: fixed;
    left: 0; bottom: 0; 
    padding: 1px; 
    width: 100%;
    background: #e5ecd0; 
}

th {
    font-weight: normal;
    padding: 10px 15px;
  }

td {
    border-top: 0px solid #e8edff;
    padding: 10px 15px;
  }


